  .links a {
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    padding: 1rem 1rem;
    color: var(--clr-grey-3);
    transition: var(--transition);
    letter-spacing: var(--spacing);
  }
  
  .links a:hover {
    background: var(--clr-grey-10);
    color: chartreuse;
  }

  .sidebar {
    height: 100%;
    overflow-y: scroll;
    background: var(--clr-white);
    display: grid;
    grid-template-rows: auto 1fr auto;
    row-gap: 1rem;
    box-shadow: var(--clr-red-dark);
    transition: var(--transition);
    transform: translate(0%);
  }
  